.Useroutput {
  background-color: antiquewhite;
  width: 50%;
  margin: 20px auto;
  
  box-shadow: 2px 3px 10px rgb(6, 29, 6);
  border-radius: 5px;
  text-align: center;
  text-shadow: 4px 5px 10px;
}
